@model IEnumerable<PFEmvc.Models.Data>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Month)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LEONI_Part)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Part_Request)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contexxt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supplier)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fors_Material_Group)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LEONI_Part_Classification)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Month)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LEONI_Part)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Part_Request)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contexxt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fors_Material_Group)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LEONI_Part_Classification)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DataId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DataId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DataId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
